body {
    font-family: Arial, Helvetica, sans-serif;
}

ul, li {
    list-style-type: none;
    padding: 0%;
    margin: 0%;
}

li {
    padding-left: 0% !important;
}

.container {
    text-align: center;
    width: 35%;
    margin-left: 32.5%;
}

.app-name {
    font-size: 7vw;
    font-weight: lighter;
    color: rgb(238, 161, 161);
    margin: 5%;
}

.todos-input {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gray;
    padding: 1%;
}

.check-box {
    width: 25px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

.want-todos {
    border: 0;
    font-size: 2vw;
    padding: 1%;
    width: 91%;
}

.want-todos:active {
    border: 0;
}

.list-todo {
    border-top: 0;
    justify-content: normal;
    padding-left: 9.5%;
}

.list-todo span {
    font-size: 2vw;
}

.li-check {
    margin-right: 5%;
}

footer {
    overflow: hidden;
    border-top: 0 !important;
    padding: 2% 0% !important;
}

.total-item {
    width: 30%;
    float: left;
}

.status-todos {
    width: 40%;
    float: left;
    display: flex;
    justify-content: space-around;
    color: rgb(211, 74, 50);
}

.clear-complete {
    width: 30%;
    float: left;
}

.clear-complete a:hover, .status-todos a:hover {
    cursor: pointer;
}

.clear-complete a {
    color: rgb(211, 74, 50);
}

footer a {
    text-decoration: none;
}

.todos-list {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.todos-name {
    width: 80%;
    text-align: left;
}

.clear-one {
    font-size: 1.5vw !important;
    color: red;
    float: right;
    width: 10%;
    visibility: hidden;
}

.list-todo:hover .clear-one {
    cursor: pointer;
    visibility: visible;
}